[alias]
	st = status -sb
	sts = status
	lg = log -10 --color --graph --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lga = log --color --graph --all --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an:%ae>%Creset' --abbrev-commit
	co = checkout
	df = diff
	dfc = diff --cached
	cmt = commit
	dft = difftool
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = ! git ls-files -v | grep ^h
[http]
	sslVerify = false
[color]
	diff = auto
	status = auto
	branch = auto
[merge]
	conflictstyle = diff3
[mergetool]
	prompt = false
[filter "trimWhitespace"]
	clean = git-stripspace
[push]
	default = simple
[user]
	name = Kunal Patel
	email = kunal_patel@symantec.com
[difftool]
	prompt = false
[diff]
	tool = gvimdiff
[credential]
	helper = cache --timeout=30000
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/kunal_patel/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
